<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{{ title or "リフト間口操作画面" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <!-- Bootstrap CSS (local) -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    @keyframes rowBlink {
      0%   { background-color: #fff3cd; }
      100% { background-color: inherit; }
    }

    .row-blink {
      animation: rowBlink 1s ease-in-out;
    }
  </style>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">

  <main class="flex-grow-1 py-3">
    <div class="container-fluid text-center p-3">
      <div class="card shadow-sm mb-3 fs-3">
        <div class="card-header bg-light text-center fw-bold">リフト間口操作画面</div>
        <div class="card-body p-0">
          <div class="table-responsive table-scroll-y fs-3">
            <table id="lift-table" class="table table-bordered table-hover mb-0 align-middle">
              <tbody id="lift-state-body">
              </tbody>
            </table>
          </div> <!-- /table-responsive -->
        </div>
      </div>
    </div>
  </main>

  <!-- Confirm Modal -->
  <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fw-bold" id="ConfirmModalLabel">確認</h1>
        </div>

        <div class="modal-footer d-flex justify-content-between">
          <!-- LEFT -->
          <button type="button" class="btn btn-xxl btn-danger fs-1" id="ExecuteBtn">実行</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- RIGHT -->
          <button type="button" class="btn btn-xxl btn-secondary fs-1" data-bs-dismiss="modal">キャンセル</button>

        </div>
        
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lift-entrance.js') }}"></script>
</body>
</html>